body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
/* img {
  display: block;
  min-width: 100%;
  height: auto;
} */

:root {
}
/* Навігація сайта */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  display: flex;
}
.aside-list {
  display: flex;
  writing-mode: vertical-lr;
}
.item-aside {
  margin-top: 300px;
}
/* writing-mode */

.site-nav {
  display: flex;
  margin-left: 45px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item + .nav-item {
  margin-left: 40px;
}
.auth-nav {
  display: flex;
  align-items: center;
}
.auth-nav .tel {
  margin-left: 322px;
  margin-right: 15px;
}

.btn {
  border: 1px solid tomato;
  border-radius: 4px;
}
