body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

:root {
  --prymary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --prymary-bg-color: #2196f3;
  --icon-color: #afb1b8;
  --bg-icon-color: #f5f4fa;
  --border-color: 1px solid rgba(238, 238, 238, 1);
  --list-work-item: 30px;
}

/*Навігація*/
.link {
  text-decoration: none;
  color: var(--prymary-text-color);
  display: block;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 3px solid tomato;*/
}
.section {
  /*outline: 3px solid teal;*/
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: #fff;
}
.main-nav {
  display: flex;
  align-items: center;
  /*#ececec*/
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-s {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav .link {
  display: inline-block;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.icon-envelope:hover {
  fill: var(--accent-color);
}
.icon-smartphone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}
.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--accent-color);
}

/* Hero*/

.section-hero {
  background-color: rgba(47, 48, 58, 1);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-hero.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-hero {
}

.section-hero .title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.section-hero .btn {
  font-weight: 700;
  font-size: 16;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  background-color: var(--prymary-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}
.btn-hero {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

/* Особливості*/
.feature {
  padding-bottom: 0;
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--bg-icon-color);
  border-radius: 4px;
}
.icon-antenna {
  display: flex;
  width: 70px;
  height: 70px;
}

.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prymary-text-color);
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.feature-list .item:first-of-type {
  margin-left: 0px;
}

.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Секція рід заннятть по фото*/
.work .title {
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .item {
  flex-basis: calc(100% / 3 - var(--list-work-item));
  margin-left: var(--list-work-item);
}
.work-list .item:first-of-type {
  margin-left: 0;
}

/*Наша команда*/
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team .title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .item {
  flex-basis: calc(100% / 4 - var(--list-work-item));
  margin-left: var(--list-work-item);
  background: var(--second-accent-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:first-of-type {
  margin-left: 0px;
}

.team-list .title {
  /* margin-top: 30px; */
  margin-bottom: 10px;
}
.team-list .text {
  margin-bottom: 16px;
}
.social-link {
  display: flex;
}
.social-link .link {
  display: block;
  align-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.social {
  display: block;
  justify-content: center;
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
}
.social-link .link:not(:last-child) {
  margin-right: 10px;
}
.social:hover,
.social:focus {
  fill: var(--second-accent-color);
}
.social-link .link:hover,
.social-link .link:focus {
  background-color: var(--accent-color);
}
.border-team {
  border-left: var(--border-color);
  border-right: var(--border-color);
  border-bottom: var(--border-color);
  padding: 30px 24px 30px 24px;
}

/* Постоянные клиенты */
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.client-list {
  display: flex;
}
.client-item {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 170px;
  height: 92px;
  left: 1015px;
  top: 2493px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-link {
  margin: 0;
  padding: 0;
}
.icon-company {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-item:hover,
.client-item:focus {
  border: 1px solid var(--accent-color);
}
.client-item .icon-company:hover,
.client-item .icon-company:focus {
  fill: var(--accent-color);
}

/*Портфоліо*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.work {
  display: flex;
  margin: 0 auto;
}
.list-nav {
  display: flex;
  justify-content: center;
}
.list-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--list-work-item));
  margin-top: calc(-1 * var(--list-work-item));
}
.list-work .item {
  flex-basis: calc(100% / 3 - var(--list-work-item));
  margin-left: var(--list-work-item);
  margin-top: var(--list-work-item);
}

.section-work .list {
  margin-bottom: 50px;
}
.list-nav .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: transparent;
  background-color: #f5f4fa;
  color: var(--prymary-text-color);
  cursor: pointer;
}
.btn-nav {
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.active {
  background: #2196f3;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}

.btn:hover,
.btn:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--prymary-bg-color);
  color: var(--second-accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-work .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
  color: var(--prymary-text-color);
  margin-bottom: 4px;
}
.section-work .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.border {
  border-left: var(--border-color);
  border-right: var(--border-color);
  border-bottom: var(--border-color);
  padding: 20px 24px 20px 24px;
}
.list-work .link:hover,
.list-work .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Пiдвал сторiнки з адресою*/
footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-footer {
  display: flex;
}

.footers {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-accent-color);
}
.address {
  display: block;
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
}
.address-link .item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-footers {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}

.logo-s .address .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0, 6);
}

.address .mail,
.address .tel {
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address .map {
  color: var(--second-accent-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.address-link {
}
.address-link .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-social {
  margin-left: 70px;
}
.footer-link {
  display: flex;
}
.link-item {
  width: 44px;
  height: 44px;
  align-content: center;
  border-radius: 50%;
  background-color: var(--title-text-color);

  padding: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-social {
  padding-top: 15px;
}
.text-footer {
  margin-bottom: 20px;
  width: 145px;
  height: 18.4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.social-footer {
  fill: var(--second-accent-color);
}
.footer-link .item:not(:last-child) {
  margin-right: 10px;
}
.link-item .social:hover,
.link-item .social:focus {
  fill: var(--second-accent-color);
}
.link-item:hover,
.link-item:focus {
  background-color: var(--accent-color);
}
