body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
.page-header {
  width: 1280px;
}
.section {
  width: 1280px;
  padding-top: 140px;
  padding-bottom: 140px;
  outline: 4px solid teal;
  display: flex;
}

.link,
.list {
  text-decoration: none;
  list-style: none;
}
btn {
  font-family: inherit;
}
.container {
  outline: 2px solid tomato;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
